.page-logo h1 {
	color: #484848;
}

strong {
	font-weight: 600;
}

input[type="text"], 
input[type="password"],
input[type="checkbox"] {
	border-radius: 3px !important;
	width: 100% !important;
}

a.show-password {
	text-decoration: none;
}

.form-title {
	margin-top: 30px;
}

.content-login {
	padding: 20px 40px 20px 15px;
}

.content-side {
	background-color: #F5F5F5;
	height: 100%;
	position: fixed;
	right: 0;
}

.content-side-inner {
	margin-top: 80px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.register-form, .forget-form {
	display: none;
}

.btn {
	border-radius: 3px !important;
	padding: 10px 20px;
	font-size: 15px;
}

.copyright {
	color: #484848;
	opacity: 0.6;
	margin-top: 30px;
	font-size: 12px;
	text-align: center;
}