.title {
	font-size: 24px !important;
	line-height: 1.5em;
}

.portlet-title-custom {
	border-bottom: 0px solid !important;
	padding: 15px 20px 0px !important;
}

.portlet-custom {
	border: 1px solid #E6E6E6 !important;
}

.center-content {
	padding-top: 30px;
	padding-left: 20%;
	padding-right: 20%;
	background-color: #FAFAFA;
}

.form-group label {
	font-weight: 600;
}

.form-step {
	margin: -10px auto auto auto;
	display: inline-block;
	background-color: #E3E3E3;
	border-radius: 24px !important;
	width: 48px;
	height: 48px;
	position: relative;
	color: #FFFFFF;
}

.current-step {
	background-color: #32c5d2;
	color: #FFFFFF;
}

.form-step p {
	font-size: 24px;
	position: absolute;
	top: 25%;
	left: 38%;
}

.trans-label-step {
	background-color: transparent;
	margin-right: 30px;
	color: #000000;
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="checkbox"] {
	border-radius: 3px !important;
	width: 100% !important;
}

.select2-container--bootstrap .select2-selection--single {
	height: 45px !important;
	border-radius: 3px !important;
	width: 100% !important;
	padding: 12px 16px;
}